<!--jquery datatable https://datatables.net/ , site para paginação-->
@model DevOC.App.ViewModels.OrcamentoPessoalViewModel

@{
    ViewData["Title"] = "Excluir Orçamento";
}

<!-- inicio seção home -->
<section class="section-topo pt-4">
    <div class="container">
        <div class="section-topo-left ">
            <h1 class="display-4">Excluir orçamento</h1>
            <p>
                Esta ação será permanente!
            </p>

            <div class="cadastrar-consultar">
                <button><a asp-action="Create">Cadastro</a></button>
                <button><a asp-action="Index">Consulta</a></button>
            </div>
        </div>

        <div class="capa-mulher">
            <img src="imagens/capa-mulher.png" alt="" srcset="">
        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- fim seção home -->

<div class="text-center container">

    <br />

    <h1 class="display-4">@ViewData["Title"] - Ação Permanente!</h1>

    <hr />
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDespesa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoDespesa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Model.Valor.ToString("C")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataAtualizacao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn btn-danger" value="Excluir" />
        <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
    </form>

</div>
